AZURE_SEARCH_ENDPOINT=your-azure-endpoint
AZURE_SEARCH_KEY=your-search-key
AZURE_SEARCH_INDEX=your-index-name

GROK_ENDPOINT=model-endpoint
GROK_API_KEY=model-api-key


# Grok via Azure serverless API
AZURE_OPENAI_ENDPOINT=open-ai-endpoint
AZURE_OPENAI_API_KEY=your-key

AZURE_OPENAI_DEPLOYMENT=model-name
