AZURE_SEARCH_ENDPOINT=your-azure-endpoint
AZURE_SEARCH_KEY=your-search-key
AZURE_SEARCH_INDEX=your-index-name

# Grok via Azure serverless API
AZURE_OPENAI_ENDPOINT=open-ai-endpoint
AZURE_OPENAI_API_KEY=your-key

AZURE_OPENAI_DEPLOYMENT=model-name


LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=langsmith-api-key
LANGCHAIN_PROJECT=enterprise-copilot
